
<div id="container">
    <div class="placeholder"></div>
    @for (item of items; track $index) {
        <div class="item" (click)="selectItem(item, $event.target)" [class.selected]="selected == item">
            <img [src]=item.image [alt]="item.title">
            <h2>{{ item.title }}</h2>
            @if (selected == item) {
                <div class="start_button" (click)="start(item)">commencer</div>
            }
            
        </div>
    }
    <div class="placeholder"></div>
</div>