// src/styles/_variables.scss

// Couleur principale
$primary: #ff5722;

// Couleur secondaire
$secondary: #4caf50;

// Couleur de fond
// $body-bg: #fff;

// Fontes
$font-family-base: 'Work Sans', 'Roboto', sans-serif;

// Largeur maximale du container
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );
