// src/styles/_variables.scss

// Couleur principale
$primary: #6BADC6;

// Couleur secondaire
// $secondary: #4caf50;

// Couleur de fond
// $body-bg: #fff;

// body
// Fontes
$font-family-base: 'Work Sans', 'Roboto', sans-serif;
$font-size-base: 1rem;


// boutons
$btn-padding-x: 3rem;

// Largeur maximale du container
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );
