.animal-info-parent-container {
    width : 70%;
    max-width: 45vh;
    margin-top: auto;
    margin-bottom: 10px;
    position: relative;
    transform: translateY(150%); /* Default state when no animal is selected */
    transition: all 0.25s ease;
}

.animal-info-parent-container.visible {
    transform: translateY(0%);
    pointer-events: all; /* Allow interaction when the info box is visible */
}

.animal-info-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    clip-path: polygon( 100% 4.043%,98.337% 92.59%,0% 100%,5.993% 0%,5.993% 0%,11.31% 0.217%,18.955% 0.49%,28.394% 0.814%,39.096% 1.182%,50.527% 1.59%,62.156% 2.033%,73.451% 2.505%,83.877% 3%,92.905% 3.515%,100% 4.043% );
    margin-bottom: 20px;
}


.animal-info-container img {
    position: absolute;
    left: 0;
    top: 0;
    width : 100%
}

.animal_presentation {
    color: black;
}

.top_section {
    background-color: #efd8b8;
    display: flex;
    flex-direction: row;
}

.text_container {
    box-sizing: border-box;
    padding: 10px;
    width: 70%;
}

.text_container p {
    font-family: 'Poppins-Regular';
    font-size: 70%;
}

.text_container h3 {
    margin: 0;
}

.image_offset{
    width: 30%;
}

.image_container {
    width: 20%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 0%;
    transform: translateY(-20%) translateX(50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B8A891;
    clip-path: polygon(9% 0, 100% 5%, 95% 100%, 0 100%);
}

.image_container img {
    width: 85%;
}

.bottom_section {
    width: 100%;
    background-color: #127039;
    display: flex;
    justify-content: center;
    font-size: larger;
    flex: 1;
}

.bottom_section a {
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}