.burger-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 1;
    background: radial-gradient(110.13% 110.13% at 50% 50%, #EFD8B8 34.75%, #897C69 100%);
}


.button-burger-menu {
    color: black;
    font-size: 3rem;
}

.button-burger-menu:hover {
    cursor: pointer;
}

.cross-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
}

.cross-button:hover {
    cursor: pointer;
}