.carousel-box {
    position: relative;
    min-width: 65%;
    max-width: 300px;
    height: 100%;

    margin: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    overflow: visible;
}

.box-background {
    width: 100%;
    height: 23%;
    background: radial-gradient(37.89% 37.89% at 50% 62.11%, #4B9569 0%, #127039 100%);
    overflow: visible;
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
}

.carousel-box .illustration img {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    clip-path: none;
}

.box-main-container {
    width: 100%;
    height: 60%;

    padding: 8px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #000;
    background: radial-gradient(182.51% 182.51% at 50% 50%, #EFD8B8 0%, #897C69 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 97%);
}

.box-title {
    font-size: 22px;
    text-align: center;
}

.box-description {
    font-family: 'Poppins-Regular';
    padding: 0 5%;
    font-size: 13px;
    text-align: center;
}

.box-button {
    margin: auto 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: transform 150ms ease;
}

.box-button .box-button-text {
    padding: 6px 22px;

    background: linear-gradient(to bottom, #FCE4C3 10%, #EFD8B8 10% 90%, #CEB89A 90%);
    font-size: 1.2rem;
    font-weight: 700;

    clip-path: polygon(10% 0, 98% 10%, 100% 100%, 0 100%);
}

.box-button:hover {
    cursor: pointer;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.1));
}
