.dialogue-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    border: solid 2px black;
    box-sizing: border-box;
    font-size: 120%;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
    height: 60dvh;
    max-height: 60dvh;
    display: flex;
    align-items: center;
    z-index: 10;
}

.dialogue-box > p {
    text-wrap: auto;
    margin: 0;
    user-select: none;
}