.header {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: none;
    outline: none;
    z-index: 1;
}

.back-button {
    z-index: 3;
}

.back-button:hover {
    cursor: pointer;
}

.burger-button {
    position: absolute;
    right: 20px;
    z-index: 3;
}

.burger-button:hover {
    cursor: pointer;
}

h2 {
    cursor: default;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}