.carousel {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35%;
    width: 100%;

    padding: 1rem 17.5%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;

    background: none;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.carousel .carousel-box {
    scroll-snap-align: center;
}
