.speech_bubble {
    width: 80%;
    background:  #E1CBAD;
    margin:15px 0;
    font-family: 'Poppins-Regular';
    font-size: 70%;
    padding: 15px;
    text-align: justify;
    text-wrap: wrap;
    position: relative;
}

.speech_bubble .tail {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #E1CBAD;
}

.speech_bubble .tail.bot {
    bottom: 0;
    transform: translateY(50%) rotateZ(45deg) skew(10deg, 10deg);
}

.speech_bubble .tail.top {
    top: 0;
    transform: translateY(-50%) rotateZ(45deg) skew(10deg, 10deg);;
}