/* ==============================
   Import des polices
============================== */

/* ==============================
   Réinitialisation des marges et paddings
============================== */
* {
    padding: 0;
    margin: 0;
}

/* ==============================
   Style général
============================== */
html {
    overflow-x: hidden;
}

body {
    font-family: "Arial", sans-serif !important;
    background-color: #303030 !important;
    color: #CB010A !important;
    overflow-x: clip;
}

#intro {
    background-color: #e1e3e5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5vh 10vw 20vh 10vw;
    position: relative;
}

p {
    text-align: justify;
    max-width: 80%;
}

h1 {
    font-family: "Arial Black", sans-serif !important;
    font-size: 1.5em !important;
    font-weight: bolder;
    text-transform: uppercase;
    max-width: 80%;
}

#intro h6 {
    font-family: "Arial Black", sans-serif !important;
    margin-bottom: 0;
    font-size: 0.9em !important;
    text-transform: uppercase;
}

#intro img {
    position: absolute;
    bottom: -12vh;
    right: 0;
    max-width: 70vw;
}

#intro svg {
    width: 90%;
    left: 8.5%;
    top: 16%;
}

#une {
    padding: 9vh 10vw 50px 10vw;
    color: white;
}

#une h1 {
    color: #CB010A !important;
}

#nos-podcast {
    background-color: #e1e3e5;
    padding: 0 10vw;
    position: relative;
}

#retrouvez-nous {
    background-color: #303030;
    padding: 100px 10vw;
    position: relative;
}

#footer {
    background-color: #e1e3e5;
    padding: 50px 10vw;
    position: relative;
    border-top-right-radius: 25px;
}

#folder {
    background-color: #e1e3e5;
    position: absolute;
    border-radius: 25px;
    top: -25px;
    left: 0;
    width: 20vw;
    height: 70px;
}

.dech-transition-haut {
    width: 100vw;
    transform: translate(-10vw, -50%);
}

.dech-transition-bas {
    width: 100vw;
    transform: translate(-10vw, 65%);
}

a {
    margin-top: 10px;
    transition: background-color 100ms ease;
}

/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 80vw;
    margin-top: 50px;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: #CB010A !important;
}

#swiper-wrapper {
    padding-bottom: 40px;
}

.podcast {
    margin-bottom: 10px;
}

.vignette {
    width: 100%;
    aspect-ratio: 1/1.5;
    border-radius: 25px;
    background-color: black;
}

.podcast h6 {
    margin-top: 5px;
    font-family: "Arial Black", "sans-serif";
    font-weight: bolder;
}

.podcast p {
    font-size: 1em;
    margin: 0;
}