/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
}

em {
    font-weight: bold;
    text-transform: none;
    color: #e2000b;
    font-style: normal;
    font-family: "Libre Baskerville", serif;
}

main > section{
    background-size: 100% auto; /* background is full width and height is proportional to width */
    background-position: bottom; /* background is bottom aligned */
}

#intro {
    padding-top: 60px;
    background-size: contain;
    background-image: url("../img/stars.jpg");
    text-shadow: #000 1px 0 10px;
}

#intro img {
    z-index: 0;
    position: absolute;
    max-width: 50%;
}

#intro img:nth-child(1) {
    top: 0;
    left: 0;
    transform: translateX(-50%);
    filter: blur(4px);
}

#intro img:nth-child(2) {
    top: 0;
    right: 0;
    transform: translate(25%, 50%);
}

#intro h1 {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
}

#intro h2 em {
    font-weight: 700;
    font-size: calc(80vw/8);
    text-transform: uppercase;
    opacity: 0.6;
}

.steps {
    position: relative;
}

.steps:after {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: calc(90vw/8);
    content: "";
    background: linear-gradient(to top,
    rgba(0,0,0, 1) 20%,
    rgba(0,0,0, 0) 80%
    );
    pointer-events: none; /* so the text is still selectable */
}

.crimes {
    position: relative;
    transform: scaleY(-1);
}

.crimes:after {
    position: absolute;
    bottom: 0;
    width: 60vw;
    margin-left: 50%;
    transform: translateX(-50%);
    height: calc(90vw/8);
    content: "";
    background: linear-gradient(to top,
    rgba(0,0,0, 1) 20%,
    rgba(0,0,0, 0) 80%
    );
    pointer-events: none; /* so the text is still selectable */
}

.caroussel {
    justify-content: safe center;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.caroussel::-webkit-scrollbar {
    display: none;
}


.thumbCrimes {
    margin: 10px;
    border: 1px solid rgba(226,0,11,0.2);
    background-color: rgba(226,0,11,0.2);
    backdrop-filter: blur(30px);
    border-radius: calc(10px + 20px);
    padding: 20px;
}

.thumbCrimes h2 {
    margin-top: 5px;
    font-family: "Libre Baskerville", serif;
}

.thumbCrimes h3 {
    opacity: 0.6;
    font-size: 1em;
}

.thumbCrimes button {
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(30px);
}

.thumbCrimes button:hover {
    background-color: rgba(255,255,255,0.4);
    transition: all ease 200ms;
}


.thumbPic {
    width: calc(100%-40px);
    aspect-ratio: 2;
    background-color: white;
    border-radius: 10px;
}

.svg-line {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    font-size: calc(15vh * 3 / 4);
}

header {
    margin: 5px;
    border-radius: 10px;
    width: calc(100% - 10px);
    position: fixed;
    top: 0;
    height: 50px;
    border: 1px solid rgba(226,0,11,0.2);
    background-color: rgba(226,0,11,0.2);
    backdrop-filter: blur(30px);
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

main {
    background-color: black;
    color: white;
}

.svg-line > svg {
    margin-top: 60px;
}


/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

