/* =========================================================================
   1. IMPORT DES POLICES
   ========================================================================== */
/* Exemple :
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
*/


/* =========================================================================
   2. RÉINITIALISATION (RESET)
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}


/* =========================================================================
   3. STYLE GÉNÉRAL (TYPO, COULEURS, ETC.)
   ========================================================================== */

/* --- Base du document --- */
html {
    overflow-x: hidden;
}

body {
    font-family: "Arial", sans-serif !important;
    background-color: #000 !important;
    color: #CB010A !important;
    overflow-x: clip;
}

/* --- Liens --- */
a {
    margin-top: 10px;
    transition: background-color 100ms ease;
    text-decoration: none;
    color: #CB010A;
    border: solid 2px #CB010A;
    padding: 10px 20px;
    border-radius: 25px;
}

a:hover {
    background-color: rgba(203, 1, 10, 0.2);
}

/* --- Titres et textes --- */
h1 {
    font-family: "Arial Black", sans-serif !important;
    font-size: 1.3em !important;
    font-weight: bolder;
    text-transform: uppercase;
    max-width: 70%;
}

h6 {
    font-family: "Arial Black", sans-serif !important;
    margin-bottom: 0;
    font-size: 0.9em !important;
    text-transform: uppercase;
}

p {
    text-align: justify;
    max-width: 70%;
    font-size: 16px !important;
    line-height: 1.4;
}

.test-case {
    width: 100px;
    height: 100px;
    background-color: red;
}


/* =========================================================================
   4. MISE EN PAGE / SECTIONS PRINCIPALES
   ========================================================================== */

/* --- Fond d'écran --- */
#background {
    background-image: url("../img/FOND_NOIR_20_.jpg");
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
}

/* --- Logo --- */
#logo-ler {
    position: fixed;
    top: 20px;
    left: 20px;
    margin-top: 0;
    padding: 5px;
    border-radius: 5px;
    background-image: url("../img/FOND_BLANC.jpg");
    border: none;
}

#logo-ler img {
    width: 50px;
}

/* --- Section intro --- */
#intro {
    background-image: url("../img/FOND_BLANC.jpg");
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 12vh 10vw 20vh 10vw;
    position: relative;
}

#intro img {
    position: absolute;
    bottom: -12vh;
    right: 0;
    width: 70vw;
    max-width: 400px;
}

#intro svg {
    width: 90vw;
    left: 1%;
    top: 16.5%;
}

/* --- Section "UNE" --- */
#une {
    padding: 9vh 10vw 50px 10vw;
    color: white;
}

#une h1 {
    color: #CB010A !important;
}

/* --- Section "nos-podcast" --- */
#nos-podcast {
    background-image: url("../img/FOND_BLANC.jpg");
    padding: 0 10vw;
    position: relative;
}

/* --- Section "retrouvez-nous" --- */
#retrouvez-nous {
    color: white !important;
    background-color: #303030;
    padding: 100px 10vw;
    position: relative;
}

#retrouvez-nous h1 {
    color: #CB010A !important;
}

/* --- Section footer --- */
#footer {
    background-image: url("../img/FOND_BLANC.jpg");
    padding: 50px 10vw;
    position: relative;
    border-top-right-radius: 25px;
}

/* --- Élément "folder" dans le footer --- */
#folder {
    background-image: url("../img/FOND_BLANC.jpg");
    position: absolute;
    border-radius: 25px;
    top: -25px;
    left: 0;
    width: 20vw;
    height: 70px;
}

#moreText {
    display: none;
}

#readMore, #readLess {
    border: none;
    padding: 0;
    text-decoration: underline;
    color: #CB010A;
    background: none;
}

#footer p {
    text-align: left;
}

/* --- Décorations/Transitions haut et bas --- */
.dech-transition-haut {
    width: 100vw;
    transform: translate(-10vw, -50%);
}

.dech-transition-bas {
    width: 100vw;
    transform: translate(-10vw, 65%);
}

/* --- Contenu global (#content) --- */
#content {
    position: relative;
}

#line-bg {
    position: fixed;
    top: 10%;
    max-width: 90%;
}

#podcasts-bg {
    position: absolute;
    height: 100%;
}


/* =========================================================================
   5. ÉLÉMENTS / BLOCS SPÉCIFIQUES
   ========================================================================== */

/* --- Descriptions des "cases" (#desc-case-x) --- */
#desc-case-1,
#desc-case-2,
#desc-case-3,
#desc-case-4,
#desc-case-5,
#desc-case-6 {
    position: absolute;
    width: 60%;
    padding-top: 10px;
}

#desc-case-1,
#desc-case-3,
#desc-case-5 {
    left: 0;
    padding-right: 20px;
}

#desc-case-2,
#desc-case-4,
#desc-case-6 {
    right: 0;
    padding-left: 20px;
}

/* --- Cases (30vh de hauteur) --- */
.cases {
    height: 30vh;
    width: 100%;
    position: relative;
    display: flex;
    cursor: pointer;
    text-shadow: #000000 1px 0 10px;
    margin-bottom: 50px; /* Sera précisé dans media query pour ajuster */
}

.cases button {
    color: #CB010A;
    border: solid #CB010A 2px;
}

/* --- Vidéos (blocs rouges, etc.) --- */
.videos {
    border: 1px solid #CB010A;
    background-color: #CB010A;
    position: absolute;
    width: 40%;
    max-width: 200px;
    aspect-ratio: 9/16;
    border-radius: 25px;
}

/* Pseudo-élément vide (s'il devait contenir quelque chose) */
.videos:after {
    content: no-close-quote;
    top: 50%;
    left: 50%;
    background-color: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-left: -2px;
    margin-top: -2px;
}

/* --- Divs spécifiques (gif en background) --- */
#div1,
#div3,
#div5 {
    right: 0px;
    background-size: cover;
}

#div2,
#div4,
#div6 {
    left: 0px;
    background-size: cover;
}

#div1 {
    background-image: url("../img/bonnot.gif");
}
#div2 {
    background-image: url("../img/bonnot.gif");
}
#div3 {
    background-image: url("../img/bonnot.gif");
}
#div4 {
    background-image: url("../img/bonnot.gif");
}
#div5 {
    background-image: url("../img/peiper.gif");
}
#div6 {
    background-image: url("../img/bonnot.gif");
}

/* --- Ligne rouge ("line") --- */
.line {
    position: absolute;
    width: 2px;
    margin-top: -1px;
    background-color: #CB010A;
}

/* --- Swiper (carrousel) --- */
#mySwiper {
    width: 80vw;
    margin-top: 50px;
}

/* Points de pagination Swiper en blanc/rouge */
.swiper-pagination-bullet-active {
    background-color: #CB010A !important;
}

#swiper-wrapper {
    padding-bottom: 40px;
}

/* --- Podcasts (vignettes, textes) --- */
.podcast {
    cursor: pointer;
    margin-bottom: 10px;
}

.vignette {
    width: 100%;
    aspect-ratio: 1/1.5;
    border-radius: 25px;
    background-color: black;
    background-size: contain;
}

.podcast h6 {
    margin-top: 5px;
    font-family: "Arial Black", sans-serif;
    font-weight: bolder;
}

.podcast p {
    font-size: 1em;
    margin: 0;
}

/* --- Modale "podcatsModal" --- */
.podcatsModal {
    width: 100vw !important;
    min-height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    background-image: url("../img/FOND_BLANC.jpg");
    display: none;
    overflow-y: scroll;
}

.modalInfo {
    background-image: url("../img/FOND_BLANC.jpg");
    padding: 100px 10vw 0 10vw;
    position: relative;
    min-height: 100vh;
}

.cross {
    position: fixed;
    top: 20px;
    right: 20px;
    margin-top: 0;
    padding: 5px;
    width: 40px;
    cursor: pointer;
}

.podcatsModal .svg1 {
    position: absolute;
    top: 150px;
    right: 80px;
}

.podcatsModal .svg2 {
    margin-left: 20px;
    margin-top: 18px;
}

.podcatsModal a {
    text-decoration: none;
    color: #CB010A;
    border: solid #CB010A 2px;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 500ms ease;
}

.podcatsModal a:hover {
    background-color: rgba(203, 1, 10, 0.2);
}

.podcatsModal p {
    line-height: 1.1;
}

/* --- Vidéo en plein écran --- */
.video-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: black;
}

/* --- Section "links" (liens) --- */
#links {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/FOND_BLANC.jpg");
}

.links_list a {
    border-radius: 100px;
    text-decoration: none;
    color: #CB010A;
    border: solid 2px #CB010A;
    padding: 10px 20px;
    display: block;
    transition: background-color 500ms ease;
    text-align: center;
}

.links_list a:hover {
    background-color: rgba(203, 1, 10, 0.2);
}

#links h1 {
    padding-left: 10vw;
}

#links > div.title {
    padding-top: 100px;
    background-color: #303030;
    padding-bottom: 50px;
}

#links > div.links_list {
    width: 100vw;
    background-image: url("../img/FOND_BLANC.jpg");
}

#links .dech-transition-haut {
    width: 100vw;
    transform: translate(0vw, -50%);
}

.links_list > div {
    padding: 0 10vw;
    position: relative;
}

/* --- Filtres / Tags --- */
.tags {
    width: 100%;
    overflow-x: scroll;
}

.tags span {
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.7em;
    color: #CB010A;
    border: solid #CB010A 2px;
    background-color: rgba(203, 1, 10, 0.2);
}

.filters {
    margin-bottom: 10px;
    overflow-x: scroll;
}

.filterBtn {
    padding: 10px;
    margin-top: 5px;
    color: #CB010A;
    border: solid #CB010A 2px;
    border-radius: 25px;
}

.filterBtn.active {
    background-color: rgba(203, 1, 10, 0.2);
}

.filterBtn:nth-child(2) {
    margin-left: 5px;
}

/* --- Logos --- */
#logos img {
    width: 100%;
}

/* --- Overlay (si besoin) --- */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


/* =========================================================================
   6. MEDIA QUERIES
   ========================================================================== */
@media screen and (min-width: 768px) {

    /* --- Contenu centré sur grands écrans --- */
    #content {
        margin: 0 20vw;
        padding-bottom: 150px;
    }

    .cases {
        margin-bottom: 100px;
    }

    #retrouvez-nous {
        padding-top: 300px !important;
    }

    .title {
        padding-bottom: 100px !important;
    }

    .links_list div {
        margin-top: -30vh;
    }
}