#container {
    background-color: rgb(33, 33, 33);
    color: white;
    overflow-x: hidden;
    /* to avoid slider bugs on some browsers */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 20px;
        font-size: 130%;
    }

    pre {
        width: 100%;
    }

    #scenario_images {
        margin-top: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        #scenario_image {
            display: flex;
            flex-direction: column;

            width: 25%;
            cursor: pointer;

            img {
                width: 100%;
            }

            p {
                margin-top: 5px;
                width: fit-content;
                align-self: center;
                font-size: 20%;
            }
        }
    }
}



/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container {
    /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/
    position: fixed;
    /* even on mobile devices with url or navigation bars */
    height: 100%;
    /* Add black bands on left and right */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2);
    /* Force 3/4 aspect ratio */
    width: calc(100 * 3vh / 4);
    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    font-size: calc(15vh * 3 / 4)
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container {
        /* reset margin-left */
        margin-left: 0;
        /* content is full width (and full height because of the default rule for container height */
        width: 100vw;
        /* We set a default font size here. It will be the base for all other font sizes */
        /* Here the font size is proportional to content width */
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */
@media screen and (max-aspect-ratio: 9/16) {
    #container {
        /* reset left margin */
        margin-left: 0;
        /* content is full width */
        width: 100vw;
        /* move the content half the height to the top */
        margin-top: calc(-50 * 16vw / 9);
        /* then center it ! */
        top: 50%;
        /* adjust height so that aspect ratio is 9/16 */
        height: calc(100 * 16vw / 9);
        /* We set a default font size here. It will be the base for all other font sizes */
        /* Here the font size is proportional to content width */
        font-size: 15vw;
    }
}