/* Mise en forme de la page */
body {
    display: flex; /* Centrage horizontal et vertical */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    color: white;
}

#app-container {
    width: 390px;
    height: 700px;
    max-width: 100%;
    max-height: 100vh;
    background-color: white;
    border-radius: 15px;
    overflow: hidden; /* Cache les débordements de contenu */
    display: flex; /* Flexbox pour organiser le contenu verticalement */
    flex-direction: column; /* Les éléments sont empilés verticalement */
}

#page_scrollable_container {
    width: 390px; 
    height: 700px;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: scroll; /* Active le défilement vertical */
    scrollbar-width: none; /* Masque la barre de défilement pour Firefox */
    -ms-overflow-style: none; /* Masque la barre pour IE et Edge */
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 10%; /* Ajoute un espace suffisant pour le bouton */
}

#page_scrollable_container::-webkit-scrollbar {
    display: none; /* Masque la barre pour Chrome */
}

/* Sections */
.choice-section {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-block-start: solid 0.5px #ddd;
}

.question-info {
  color: black;
  font-size: 0.7rem;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

.choice-section h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.choice-section img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.choice-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choice-item {
  display: flex;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  overflow: hidden;
}

.choice-item img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.choice-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choice-info p {
  font-size: 0.6rem;
  font-weight: bold;
  color: black;
}

.btn-info {
  color: black;
  font-size: 0.6rem;
  border:rgb(168, 167, 167) solid 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 48%;
  margin-bottom: 5%;
  width: 80px;
  height: 20px;
}

.btn-info span {
  font-size: 1.0rem;
  margin-left: 5px;
  color: #32D2C3;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: white;
    border-block-start: solid 1px #ddd;
}

.btn-validate {
    display: block;
    text-align: center;
    width: 50%;
    background-color: #32D2C3;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 25%;
    box-shadow: 0px 4px 10px rgba(0, 235, 30, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-validate:hover {
    background-color: #32D2C3;
    box-shadow: 0px 6px 12px rgba(50, 210, 195, 0.5);
}

.btn-next {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #32D2C3;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    margin: 20px auto;
    box-shadow: 0px 4px 10px rgba(0, 235, 30, 0.3);
    transition: all 0.3s ease;
  }
  
  .btn-next:hover {
    background-color: #32D2C3;
    box-shadow: 0px 6px 12px rgba(0, 235, 30, 0.5);
  }  

/* Header */
header {
    background-color: #000;
    padding: 10px 20px;
}

header .navbar {
    display: flex; /* Organisation en ligne */
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

header .logo-container img {
    height: 40px;
}

/* Bannière */
.banner {
    width: 100%;
    height: 40vh;
    position: relative; /* Permet de positionner le texte par-dessus */
    display: flex; /* Flexbox pour centrer le contenu */
    align-items: center; /* Aligne verticalement le texte */
    justify-content: center; /* Centre horizontalement le texte */
    overflow: hidden; /* Cache les débordements de l'image */
}

.banner .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adapte l'image sans déformation */
    z-index: 1; /* Derrière les autres éléments */
}

.logo-festival {
    position: absolute;
    top: 25%;
    z-index: 2; /* Au-dessus de l'image de fond */
    width: 70%;
    left: 50%;
    transform: translateX(-50%); /* Centre horizontalement */
}

.logo-partners {
    position: absolute;
    bottom: 5%; /* Place les logos près du bas */
    z-index: 2; /* Au-dessus de l'image */
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.banner h1 {
    position: absolute; /* Superpose le titre sur l'image */
    font-size: 0.5rem;
    color: white;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Place le texte au-dessus des autres éléments */
    width: 90%; /* Limite la largeur pour forcer le texte à rester sur une ligne */
    white-space: nowrap; /* Empêche le passage à la ligne */
}


/* Contenu principal */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
    box-shadow: none;
}

.content-title {
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: justify;
}

.content-text {
    font-size: 0.8rem;
    line-height: 1.4;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
}

.create-container {
    display: flex;
    justify-content: center;
}

/* Bouton principal */
.btn-create-event {
    background-color: #32D2C3;
    color: white;
    padding: 10px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 10px rgba(37, 190, 162, 0.3);
    margin-top: 5%;
}

.btn-create-event:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(37, 190, 162, 0.3);
}

h2{
    font-size: 0.8rem;
    color: black;
    text-align: center;
    bottom: 75%;
    left: 25%;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: auto;
    flex-shrink: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    #app-container {
        width: 360px;
        height: 680px;
    }

    header .btn-en-savoir-plus {
        padding: 5px 12px;
        font-size: 11px;
    }

    .btn-create-event {
        font-size: 13px;
        padding: 10px 16px;
    }

    .banner h1 {
        font-size: 0.5rem;
    }
}
