<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style1.css">
    <title>Budget du Festival</title>
  </head>
  <body>
    <div id="app-container">
      <header>
        <nav class="navbar">
          <div class="logo-container">
            <img src="img/logo.svg" alt="logo du site web"/>
          </div>
        </nav>
      </header>

      <main>
        <div id="page_scrollable_container">
          <!-- Titre principal -->
          <section class="content">
            <h2>{{ mainTitle }}</h2>
          </section>
          
          <!-- Budget total -->
          <section class="content">
            <h2>Budget du festival : {{ budget.cost }} €</h2>
          </section>
          
          <!-- Prix du billet -->
          <section class="content">
            <h2>Prix du billet : {{ ticketPrice }} €</h2>
          </section>
          
          <!-- Description du festival -->
          <section class="content">
            <p class="content-title">{{ festivalDescription }}</p>
          </section>
          
          <!-- Diagramme en bandes -->
          <section class="content" id="budget-chart">
            <p class="content-title">€ {{ budget.chartTitle }}</p>
            <div class="chart-bars">
              {{#budgetChart}}
              <div class="bar {{ className }}" style="width: {{ percentage }}%;">{{ percentage }}%</div>
              {{/budgetChart}}
            </div>
            <!-- Légende -->
            <ul class="chart-legend">
              {{#chartLegend}}
              <li>
                <span class="legend-color {{ className }}"></span>
                <div>
                  <p class="legend-title">{{ title }}</p>
                  <p class="question-info">{{ details }}</p>
                </div>
              </li>
              {{/chartLegend}}
            </ul>
          </section>
  
          <!-- Informations supplémentaires -->
          <section class="content">
            <p class="content-text">{{ contentText1 }}</p>
            <p class="content-text">{{ contentText2 }}</p>
            <div>
              <p class="content-title">{{ contentHighlight1 }}</p>
              <p class="content-title">{{ contentHighlight2 }}</p>
            </div>
          </section>

          <!-- Bouton pour l'étape suivante -->
          <div class="button-container">
            <a href="{{ nextStepLink }}?budgetLimit={{ budget.cost }}" class="btn-validate">Étape suivante</a>
          </div>
        </div>
      </main>
      
    </div>
  </body>
</html>
