<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="css/budget.css">
    
    <script src="js/app.js" defer></script>
    <title>Budget du Festival</title>
  </head>
  <body>
    <div id="app-container">
        <header>
            <nav class="navbar">
            <div class="logo-container">
                <img src="img/logo.png" alt="Logo Tpole" />
            </div>
            <a href="#" class="btn-en-savoir-plus">En savoir plus</a>
            </nav>
        </header>
        <section class="content">
            <h2>{{ pageTitle1 }} <br>{{ pageTitle2 }}</h2>
        </section>
        
        <section class="content">
            <h2>{{ budget.title }}</h2>
        </section>
        
        <section class="content">
            <h2>Prix moyen du billet : {{ ticketPrice }} €</h2>
        </section>
        
        <section class="content">
            <p class="content-title">€ {{ budget.infoLink.text }}</p>
            <img src="img/budget.png" alt="camembert budget" class="img">
        </section>
        
        {{#budgetComposition}}
        <section class="content">
            <div class="budget-section">
            <div class="budget-color" style="background-color: {{ color }}"></div>
            <p class="content-text">{{ name }} <br> ({{ details }})</p>
            </div>
        </section>
        {{/budgetComposition}}
        
        <section class="content">
            <p class="content-texte">
            {{ content1.context }}
            </p>
            <p class="content-texte">
            {{ content1.example.text }}
            </p>
            <h2>{{ content2.highlight }}</h2>
            <h2>{{ content2.advice }}</h2>
        </section>
  
        <a href="#" class="btn btn-create-event">Passer à l'étape suivante</a>
    </div>



  </body>
</html>
