<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style1.css">
        <title>Crédits</title>
    </head>
    <body>
        <div id="app-container">
            <header>
                <nav class="navbar">
                    <div class="logo-container">
                        <!-- Exemple de logos ou de texte -->
                        <img src="img/logo.svg" alt="logo du site web"/>
                    </div>
                </nav>
            </header>

            <!-- Contenu principal -->
            <main>
                <div class="page_scrollable_container">
                    <section class="banner">
                        <!-- Image de fond -->
                        <img src="img/fete_fin.png" alt="Image spectacle" class="background-image">

                        <!-- Logo des partenaires -->
                        <img src="img/logo_fin.svg" alt="Logos des partenaires" class="logo-partners2">
                    </section>
                    <section class="content">
                        <p class="content-text" style="font-weight:bold">
                            Ces chiffres s’appuient sur plusieurs études sur le secteur culturel réalisées par des organismes nationaux, ainsi que sur l'enquête flash réalisée en novembre 2024 par les six pôles régionaux de coopération culturelle, qui traduit les projections des professionnel.les de la culture sur l’effet des coupes budgétaires votées par la Région Pays de la Loire.                        
                        </p>
                    </section>

                    <section class="content">
                        <h2 class="content-title" style="text-align:center">PRÉSENTATION DE L’ÉQUIPE</h2>
                        <p class="content-text"><span class="content-title">Magali Roberto</span> est chargée d’études et d’observation au Pôle de coopération pour la filière musicale en Pays de la Loire et doctorante en sociologie au laboratoire Sophiapol. Spécialiste de l’économie de la culture, elle a apporté son expertise scientifique et sa connaissance du territoire et a accompagné les étudiant.es sur le traitement des données statistiques.</p>
                        <p class="content-text"><span class="content-title">Capucine Frey</span>, journaliste et encadrante technique à l’Onde Porteuse, radio d’insertion.</p>
                        <p class="content-text"><span class="content-title">Chiara Audureau</span>, étudiante en Master 2 de journalisme, reportage et enquête à Sciences-Po Rennes.</p>
                        <p class="content-text"><span class="content-title">Luna Beaudouin-Goujon</span>, étudiante en Master 2 de journalisme, reportage et enquête à Sciences-Po Rennes.</p>
                        <p class="content-text"><span class="content-title">Leïssou Lecellier</span>, étudiante en Master Direction Artistique à l’AGR de Nantes.</p>
                        <p class="content-text"><span class="content-title">Melvyn GUY</span>, Ingénieur Informaticien à Polytech Nantes.</p>
                        <p class="content-text"><span class="content-title">Graziella LOKO</span>, Ingénieur Informaticien à Polytech Nantes.</p>
                        <p class="content-text"><span class="content-title">Achille DJAKPO</span>, Ingénieur Informaticien à Polytech Nantes.</p>
                        <p class="content-text"><span class="content-title">Qichao ZHAO</span>, Ingénieur Informaticien à Polytech Nantes.</p>
                        <p class="content-text"><span class="content-title">Ruisi GAO</span>, Ingénieur Informaticien à Polytech Nantes.</p>
                    </section>

                    <section class="content">
                    <h2 class="section-title">SOURCES</h2>
                    <ul class="content-list">
                        <li class="content-text">Étude "Festivals et transitions sociétales", Le Pôle de coopération pour la filière musicale - juin 2024</li>
                        <li class="content-text">Claire Dubois, Le conseil régional des Pays de la Loire vote son budget 2025 et ses 82 millions d'euros d'économies - Ouest-France, 20/12/2024</li>
                        <li class="content-text">Centre national de la musique, Diffusion Live 2023 - Données détaillées par région - Focus festivals</li>
                        <li class="content-text">Site de festival Ça chauffe, Guide d’accessibilité Festival Les Escales : http://www.liccestcool.org</li>
                        <li class="content-text">Association Consentis : nouvelle enquête sur les violences sexuelles en milieu festif</li>
                        <li class="content-text">Baromètre 2019 : Jeunes, musique et risques auditifs</li>
                    </ul>
                    </section>

                    <!-- Bouton pour rejouer -->
                    <div class="button-container">
                        <a href="/londeporteuse" class="btn-validate">Rejouer</a>
                    </div>
                </div>
            </main>

            <!-- Footer (visible uniquement sur cette page) -->
            <footer>
                <div class="foot-title">
                    <p id="foot-text">En partenariat avec L’Onde Porteuse & Le Pôle</p>
                </div>
                <div class="footer-logos">
                <img src="img/logo_hyblab.png" alt="Logo Hyblab" class="footer-logo">
                <img src="img/ouest_medialab.png" alt="Logo Ouest medialab" class="footer-logo">
                <img src="img/nantes_metropole.png" alt="Logo Nantes Metropole" class="footer-logo">
                <img src="img/logo_sc_rennes.png" alt="Logo Science Po Rennes" class="footer-logo">
                <img src="img/logo_polytech.png" alt="Logo Polytech" class="footer-logo">
                <img src="img/agr.png" alt="Logo AGR" class="footer-logo">
                </div>
            </footer>
        </div>
    </body>
</html>