<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style1.css">
    <title>{{ titles.content }}</title>
  </head>
  <body>
    <div id="app-container">
      <header>
        <nav class="navbar">
          <div class="logo-container">
            <!-- Exemple de logos ou de texte -->
            <img src="img/logo.svg" alt="logo du site web"/>
          </div>
        </nav>
      </header>

      <main>
        <div>
  <section class="banner">
    <!-- Image de fond -->
    <img src="img/fete_fin.png" alt="Image spectacle" class="background-image">

    <!-- Logo Festival -->
    <img src="img/logo.svg" alt="Logo Festival" class="logo-festival">

    <!-- Logo des partenaires -->
    <img src="img/logo_fin.svg" alt="Logos des partenaires" class="logo-partners">

    <!-- Texte principal -->
  </section>

  <section class="content" style="border-bottom: none;">
    <p class="anim-title">
    {{descriptions.1.content}}
    </p>
    <p class="anim-text">
    {{descriptions.2.content}}
    </p>
  </section>
  <div class="create-container">
    <a href="choices" class="btn btn-create-event">{{ cta }}</a>
  </div
</div>



      </main>
    </div>
  </body>
</html>