<div id="main">
    <div id="backdrop">
        <img src="logo_white.svg" alt="logo" id="logo">
        <h2>{{"Prêt à changer l’histoire ?"}}</h2>
        <p>Et si le sport avait pris un tout autre tournant ? 
            Avec 80 ans d'archives de L’Équipe en poche, plongez dans les grands moments sportifs et imaginez-les autrement. Trois scénarios, trois "Et si…" qui pourraient tout bouleverser. Le temps d’un voyage temporel, on refait le match.</p>
        <div id="start_btn" (click)="router.navigate(['roleplay'])">
            <img src="sifflet.svg" alt="" class="flip_x">
            COMMENCER
            <img src="sifflet.svg" alt="">
        </div>
    </div>
</div>