.map-overlay {
    position: fixed;
    top: 61px;
    height: calc(100vh - 61px) !important;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.map-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    /* pointer-events: none; */
}

.map-container {
    width: 90%;
    height: 80%;
    border-radius: 8px;
    overflow: hidden;
}

.close-map-btn {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

.map-tiles-blue {
    /* filter: hue-rotate(180deg) saturate(50%); */
}

.custom-popup {
    text-align: center;
    padding: 10px;
    max-width: 200px;
}

.popup-image {
    max-width: min(100%, 200px);
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

.leaflet-popup-content {
    margin: 10px;
}

/* Ajustements spécifiques pour react-leaflet */
.leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
