.background {
    background: url('homePage.png');
    background-size: auto 100%;
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    width: 100%; /* Prend toute la largeur de l'élément parent */
    height: 100%; /* Prend toute la hauteur de l'élément parent, ajustez selon le besoin */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 350px;
    margin-inline: auto;
    font-family: "Work Sans";
}

.container {
    background-color: white;
    padding: 1px;
    text-align: center;
    margin-top: 150px;
    margin-inline: 16px;
    width: 160px;
}


p {
    font-size: 8.5px;
    line-height: 1.5;
    color: #1A3347;
    margin: 1px;

}

button {
    margin-top: 20px;
    padding: 8px 40px;
    margin-bottom: 50px;

    border: #1A3347;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;

    font-size: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #1A3347;
    background-color: #ffffff; /* Couleur bleue */

    cursor: pointer;
    justify-content: center;
}

button:hover {
    background-color: #1A3347; /* Couleur bleue plus foncée au survol */
    color: white;
}