body{
  background-color: #000000;
}

.clickable-div {
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#image-scene {
  position: absolute;
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.scene-object {
  position: absolute;
}

.hidden {
  display: none;
}

#slider-container {
  z-index: 15;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#time-slider {
  flex-grow: 1;
}

#mouse-popup {
  font-family: Arial, sans-serif;
  font-size: 12px;
  pointer-events: none;
}

#time-slider-container {
  position: fixed;
  bottom: 0; /* Positionné en bas de l'écran */
  left: 0;
  width: 100%; /* Occupe toute la largeur */
  background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
  z-index: 20; /* Au-dessus des autres éléments */
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Ombre subtile pour un effet visuel */
}

#time-slider {
  width: 90%; /* Le slider occupe 90% de la largeur du container */
  margin: 0 auto; /* Centrer le slider horizontalement */
  display: block;
  -webkit-appearance: none; /* Supprime le style par défaut sur les navigateurs WebKit */
  background: linear-gradient(to right, #4caf50, #2196f3); /* Dégradé pour le slider */
  height: 8px; /* Hauteur de la barre */
  border-radius: 5px; /* Bordures arrondies */
  outline: none; /* Supprime le contour lors de la sélection */
  cursor: pointer;
}

#time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #2196f3;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#time-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #2196f3;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Positionnement des éléments de la barre latérale */
.sidebar {
  position: absolute;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacement entre les images */
}

.sidebar img {
  width: 50px; /* Taille réduite pour les images */
  height: auto; /* Conserve le ratio d'aspect */
  border-radius: 5px;
  background-color: #2c3e50;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Inventaire et Livre en haut à gauche */
.sidebar.left {
  top: 10px;
  left: 10px;
  height: 10px;
}

/* Action en haut à droite */
.sidebar.right {
  top: 10px;
  right: 10px;
}

/* Ajustements pour le conteneur principal */
main {
  position: relative;
  z-index: 10000;
}

main .game {
  position: relative;
  display: flex;
  justify-content: space-between;
}

main > section {
  background-image: url('../img/background.svg');
  background-size: auto 350%;
  background-position: bottom;
}

/* Animation pour wiggle */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


#wiggle-group{
  animation: wiggle 3s infinite linear;
}

#HÉLICES-38{
  animation: wiggle 3s infinite linear;
  transform-origin: center center center;
}