.background_rules {
    background: url('bgregles.png');
    position: relative;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100%; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* width: 350px; */
    margin-inline: auto;
    font-family: "Work Sans";
}

.arbre {
    background: url('arbre.gif') no-repeat center center; /* Ajuster selon les besoins */
    position: absolute;
    bottom: -2rem;
    left: 2rem;
    height: 13rem;
    width: 9rem;
    zoom: 0.4;
}
.text-white{
    margin-top: 100px;
    font-size: 2.5rem;
}

.fs-7 {
    font-size: 0.7rem;
    margin-top: 100px;
    margin-inline: 16px;
}

.btn{
    margin-bottom: 50px;
}

/* .rules-container {
    background-color: white;
    padding: 1px;
    text-align: center;
    margin-top: 150px;
    margin-inline: 16px;
    width: 220px;
} */

/* 
.rules-container p {
    font-size: 11px;
    line-height: 1.5;
    color: #1A3347;
    margin: 1px;

}

.button_rules {
    margin-top: 20px;
    padding: 8px 40px;
    margin-bottom: 50px;

    border: #1A3347;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;

    font-size: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #1A3347;
    background-color: #ffffff;

    cursor: pointer;
    justify-content: center;
}

button:hover {
    background-color: #1A3347;
    color: white;
} */