.background {
    background: url('credits.png');
    background-size: auto 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 350px;
    margin-inline: auto;
    font-family: "Work Sans";
}

.container {
    background-color: rgb(255, 255, 255,0);
    text-align: center;
    margin-top: 220px;
    margin-inline: 16px;
    width: 200px;
}

p {
    font-size: 10px;
    line-height: 1.5;
    color: white;
    margin: 1px;
}
