.background {
    background: url('credits.png');
    background-size: auto 100%;
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    width: 100%; /* Prend toute la largeur de l'élément parent */
    height: 100%; /* Prend toute la hauteur de l'élément parent, ajustez selon le besoin */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 350px;
    margin-inline: auto;
    font-family: "Work Sans";
}

.container {
    background-color: rgb(255, 255, 255,0);
    text-align: center;
    margin-top: 200px;
    margin-inline: 16px;
    width: 200px;
}

p {
    font-size: 10px;
    line-height: 1.5;
    color: white;
    margin: 1px;

}
