.background_page0 {
    background: url('welcome_bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.logo_page0 {
    width: 200px; /* Taille du logo principal */
}
