.background_page0 {
    background: url('welcome_bg.png');
    background-size: 100% 100%;
    width: 100%; /* Prend toute la largeur de l'élément parent */
    position: relative;
}

.logo_page0 {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}