header {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 10;
    border-bottom: 3px solid black;

    #logo {
        height: 60%;
        margin: 1% 4%;
    }

    .burger-toggle {
        display: flex;
        flex-direction: column;
        width: 30px;
        margin-right: 4%;
        cursor: pointer;

        span {
            height: 2px;
            width: 100%;
            background-color: black;
            margin: 3px 0;
            transition: 0.4s;
        }

        &.opened {
            span {
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-5px, 5px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(-6px, -6px);
                }
            }
        }
    }
}

.burger-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-left: 25%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Cache les éléments hors de la zone */
    max-height: 0; /* Hauteur initiale fermée */
    transition: max-height 0.5s ease-out, padding 0s ease-out;

    &.open {
        max-height: 800px; /* Ajustez selon la hauteur de contenu */
        // padding-top: 3%;
        // padding-bottom: 3%;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin: 15px 0;

        a {
            font-size: 22%;
            text-decoration: none;
            margin: 6px 0;
            // margin-left: 25%;

            .number {
                margin-right: 4px;
                color: black;
                font-size: 70%;
                font-style: italic;
                text-decoration: none;
                text-align: left;
                vertical-align: top;
            }

            .text {
                color: #D61E00;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
            }

            &.active .text {
                text-decoration: underline;
            }
        }
    }
}

