/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
}

/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
}

#loader-img{
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    position: absolute;
    font-size: 50%;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:calc(50% + 2em);
    width: 100%
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}

/* Most of the elements in this demo are absolute positioned with percentages */
#first-slide header, #second-slide header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}

#logo-hyblab{
    text-align: center;
    width: 50%;
    left: 50%; /* center the logo, in interaction with the negative margin-left */
    top: 50%;
    margin-left:-25%; /* this is half the width */
    margin-top:calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

/* Last slide image is centered */
#img-fini{
    width: 70%;
    left: 50%; /* center the logo, in interaction with the negative margin-left */
    top: 40%;
    position: absolute;
    margin-left:-35%; /* this is half the width */
    margin-top:calc(-25% * 9 / 16 ); /* margins are relative to the element width... :-( */
}

main > section{
    background-image: url('../img/background.svg');
    background-size: 100% auto; /* background is full width and height is proportional to width */
    background-position: bottom; /* background is bottom aligned */
}

/* Footer of last slide is at the bottom and content is centered */
#first-slide footer{
    bottom: 5%;
    position: absolute;
    box-sizing: border-box; /* So that padding is not added to width (and width: 100% works) */
    width: 100%; /* could also use  width: calc(100% - 2em) if not using box-sizing */
    font-size: 20%;
    text-align: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
}


/* ---------- Positioning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportional to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }

  #bandeau img{
    height: 2.5em;
  }

  #bandeau #hyblab{
    margin: 1em auto;
    height: 3em;
    display: block;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
    margin: 0.5em auto;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }


/* screen2 */
#screen2-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 20px; /* Augmenter le rembourrage à droite */
    color: black; /*Définir la couleur de police par défaut de la page sur noir*/
}

.screen2-title {
    font-size: 32px;
    margin-bottom: 30px;
}

#screen2-slide .options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 40px; /* Définissez les marges gauche et droite et ajustez la distance */
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

    #screen2-slide .options-grid .option,
    #screen2-slide .options-grid .size {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #screen2-slide .options-grid span {
        display: block;
        width: 100%; /* 确保灰色框与图片宽度一致 */
        background-color: #ccc; /* 设置灰色背景 */
        padding: 10px 0; /* 添加上下内边距 */
        font-size: 16px; /* 调整文字大小 */
        font-weight: bold;
        color: black;
        border-top: 1px solid #aaa; /* 可选：给灰色框添加顶部边框 */
        box-sizing: border-box; /* 确保宽度包含内边距 */
    }

#screen2-slide header + * {
    margin-top: 70px; /* Ajouter un espacement sous l'en-tête */
}

#screen2-slide footer {
    width: 100%;
}

#screen2-slide h1 {
    font-size: 2rem; /* Taille du titre */
    margin-bottom: 20px;
    padding: 0 40px; /* La distance entre le titre et les côtés gauche et droit de la page */
    text-align: left; /* Aligner le titre à gauche */
}

#screen2-slide h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 0 80px;
    text-align: left;
}

#screen2-slide footer {
    padding: 0 40px; /* Ajouter un remplissage gauche et droit au pied de page */
}

#screen2-slide .consequences {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify; /* Justifier le texte */
    padding: 0 40px;
}

#screen2-slide .top-bar {
    display: flex;
    width: 100%; /* Réglez la largeur sur la largeur de la page */
    height: auto; /* Ajuster automatiquement la hauteur */
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    background-color: black; /* L'arrière-plan est noir */
    box-sizing: border-box; /* Assurez-vous que le rembourrage n'affecte pas la largeur */
}

#screen2-slide .logo {
    height: 80px;
}

#screen2-slide .info-button {
    background: linear-gradient(90deg, #96c93d, #00b09b); /* 按钮渐变背景 */
    color: black; /* Couleur de police */
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 40px; /* Rembourrage */
    border-radius: 25px; /* Coins arrondis */
    display: inline-flex; /* Utilisation de Flex Layout */
    align-items: center; /* Centre vertical */
    justify-content: center; /* Centre horizontal */
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Effets de transition d'animation*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre du bouton */
}

    #screen2-slide .info-button:hover {
        background: linear-gradient(90deg, #00b09b, #96c93d); /* 背景反转渐变 */
        transform: scale(1.1); /* Effet d'amplification */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Ajouter un effet d'ombre */
        color: #fff; /* Changer la couleur de la police en blanc lors du survol */
    }

#screen2-slide.bottom-bar {
    position: fixed; /* Corrigé en bas de la page */
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #00b09b, #96c93d); /* 渐变背景 */
    text-align: center;
    padding: 40px 0; /* Rembourrage supérieur et inférieur */
    z-index: 10;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); /* Ajouter une ombre supérieure */
}

#screen2-slide .modifier-button {
    background: linear-gradient(90deg, #96c93d, #00b09b); /* Fond dégradé du bouton */
    color: black;
    border: none; /* Supprimer la bordure */
    font-size: 18px;
    font-weight: bold;
    padding: 12px 40px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Effet de transition d'animation */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre du bouton */
}

    #screen2-slide.modifier-button .arrow {
        font-size: 20px; /* Taille de la flèche */
        font-weight: bold; /* audacieux */
    }

    #screen2-slide .modifier-button:hover {
        background: linear-gradient(90deg, #00b09b, #96c93d); /* Arrière-plan dégradé inversé */
        transform: scale(1.1); /* Effet d'amplification */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Ajouter un effet d'ombre */
        color: #fff; /* Changer la couleur de la police en blanc lors du survol */
    }

#screen2-slide .options-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* 圆角效果 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    #screen2-slide .options-grid img:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

#screen2-slide .options-grid span {
    display: block;
    width: 100%; /* 确保灰色框与图片宽度一致 */
    background-color: #ccc; /* 设置灰色背景 */
    padding: 10px 0; /* 添加上下内边距 */
    font-size: 16px; /* 调整文字大小 */
    font-weight: bold;
    color: black;
    border-top: 1px solid #aaa; /* 可选：给灰色框添加顶部边框 */
    box-sizing: border-box; /* 确保宽度包含内边距 */
}

.screen2-subtitle {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.screen2-text {
    position: absolute;
    top: 75%;
    left: 5%;
    right: 5%;
    font-size: 0.5em;
    color: white;
    line-height: 1.5;
}

/* Page4 */
#page4-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding-right: 20px; /* Augmenter le rembourrage à droite */
    color: black; /*Définir la couleur de police par défaut de la page sur noir*/
}
.page4-title {
    font-size: 32px;
    margin-bottom: 30px;
}

/* #page4-slide .options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px; 
} */
#page4-slide .options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 40px; /* Définissez les marges gauche et droite et ajustez la distance */
    margin-bottom: 20px;
    align-items: center;
    text-align: center; 
}
#page4-slide footer {
    width: 100%;
}
/* #page4-slide h1 {
    font-size: 2rem; 
} */

#page4-slide h1 {
    font-size: 2rem; /* Taille du titre */
    margin-bottom: 20px;
    padding: 0 40px; /* La distance entre le titre et les côtés gauche et droit de la page */
    text-align: left; /* Aligner le titre à gauche */
}
#page4-slide h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 0 80px;
    text-align: left;
}

#page4-slide footer {
    padding: 0 40px; /* Ajouter un remplissage gauche et droit au pied de page */
}

/* #page4-slide .consequences {
    font-size: 1.2rem; 
} */
#page4-slide .consequences {
    font-size: 1.2rem; 
    line-height: 1.5; 
    text-align: justify; /* Justifier le texte */
    padding: 0 40px; 
}
/* Styles du logo et des boutons du haut */
#page4-slide .top-bar {
    display: flex;
    width: 100%; /* Réglez la largeur sur la largeur de la page */
    height: auto; /* Ajuster automatiquement la hauteur */
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    background-color: black; /* L'arrière-plan est noir */
    box-sizing: border-box; /* Assurez-vous que le rembourrage n'affecte pas la largeur */
}

  
#page4-slide  .logo {
    height: 80px;
  }
  
/* Bouton du haut */
#page4-slide .info-button {
    background: linear-gradient(90deg, #96c93d, #00b09b); /* 按钮渐变背景 */
    color: black; /* Couleur de police */
    border: none; 
    font-size: 18px;
    font-weight: bold; 
    padding: 12px 40px; /* Rembourrage */
    border-radius: 25px; /* Coins arrondis */
    display: inline-flex; /* Utilisation de Flex Layout */
    align-items: center; /* Centre vertical */
    justify-content: center; /* Centre horizontal */
    gap: 10px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Effets de transition d'animation*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre du bouton */
}

/* Effet de survol */
#page4-slide .info-button:hover {
    background: linear-gradient(90deg, #00b09b, #96c93d); /* 背景反转渐变 */
    transform: scale(1.1); /* Effet d'amplification */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);/* Ajouter un effet d'ombre */
    color: #fff; /* Changer la couleur de la police en blanc lors du survol */
}

/* Définir le style de la barre inférieure */
#page4-slide.bottom-bar {
    position: fixed; /* Corrigé en bas de la page */
    bottom: 0;
    left: 0;
    width: 100%; 
    background: linear-gradient(90deg, #00b09b, #96c93d); /* 渐变背景 */
    text-align: center; 
    padding: 40px 0; /* Rembourrage supérieur et inférieur */
    z-index: 10; 
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); /* Ajouter une ombre supérieure */
  }
  
/* Bouton du bas */
#page4-slide .modifier-button {
    background: linear-gradient(90deg, #96c93d, #00b09b); /* Fond dégradé du bouton */
    color: black; 
    border: none; /* Supprimer la bordure */
    font-size: 18px; 
    font-weight: bold;
    padding: 12px 40px; 
    border-radius: 25px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center; 
    gap: 10px;
    cursor: pointer; 
    transition: all 0.3s ease-in-out;/* Effet de transition d'animation */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);/* Ombre du bouton */
  }
  
/* Définir le style de la flèche */
#page4-slide.modifier-button .arrow {
    font-size: 20px; /* Taille de la flèche */
    font-weight: bold; /* audacieux */
  }
  
/* Définir l'effet de survol du bouton */
#page4-slide .modifier-button:hover {
    background: linear-gradient(90deg, #00b09b, #96c93d);/* Arrière-plan dégradé inversé */
    transform: scale(1.1); /* Effet d'amplification */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Ajouter un effet d'ombre */
    color: #fff; /* Changer la couleur de la police en blanc lors du survol */
}

  
  
#page4-slide .options-grid img {
    width: 100%; 
    height: auto; /* Conserver le rapport de l'image */
    border: 1px solid #ccc;/* Frontière */
    border-radius: 5px; /* Effet coins arrondis */
    object-fit: cover; /* Assurez-vous que l'image remplit la zone */
    transition: transform 0.3s ease, box-shadow 0.3s ease;/* Ajouter un effet de transition */
}

/* Effet de survol */
#page4-slide .options-grid img:hover {
    transform: scale(1.1); /* Zoom avant */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Ajouter une ombre */
}

.page4-subtitle {
    font-size: 28px; 
    margin-top: 40px;
    margin-bottom: 20px;
}

.page4-text {
    position: absolute;
    top: 75%;
    left: 5%;
    right: 5%;
    font-size: 0.5em; 
    color: white;
    line-height: 1.5; 
}
/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* screen0 */
#screen0-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 20px;
}

#screen0-slide .fullscreen-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: -1; /* Image derrière le texte */
}

#screen0-slide h2 {
    font-size: 2rem;
    color: white;
    margin-top: 20px;
}

#screen0-slide .bold-text {
    font-weight: bold;
    font-size: 1.2rem;
    color: black; /* Texte en noir */
    text-align: center;
    margin-top: 150px; /* Plus d'espace entre l'image et le texte */
}

#screen0-slide .normal-text {
    font-weight: normal;
    font-size: 1rem;
    color: black; /* Texte en noir */
    text-align: center;
    margin-top: 20px; /* Espacement entre les deux textes */
}

#screen0-slide .create-event-button {
    background: linear-gradient(90deg, #96c93d, #00b09b); /* Dégradé de vert */
    color: white; /* Texte en blanc */
    border: none; 
    font-size: 18px;
    font-weight: bold;
    padding: 12px 40px;
    border-radius: 25px;
    margin-top: 40px; /* Espacement au-dessus du bouton */
    display: inline-flex;
    align-items: center; /* Centrer le texte et la flèche verticalement */
    justify-content: center; /* Centrer le texte et la flèche horizontalement */
    gap: 10px; /* Espacement entre le texte et la flèche */
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Animation douce au survol */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre douce */
}

#screen0-slide .create-event-button:hover {
    background: linear-gradient(90deg, #00b09b, #96c93d); /* Inverser le dégradé au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Augmenter l'ombre au survol */
}

#screen0-slide .create-event-button:focus {
    outline: none; /* Retirer l'outline pour éviter le contour de focus */
}

#screen0-slide .info-button {
    background: linear-gradient(90deg, #96c93d, #00b09b); /* 按钮渐变背景 */
    color: black; /* Couleur de police */
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 40px; /* Rembourrage */
    border-radius: 25px; /* Coins arrondis */
    display: inline-flex; /* Utilisation de Flex Layout */
    align-items: center; /* Centre vertical */
    justify-content: center; /* Centre horizontal */
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Effets de transition d'animation*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre du bouton */
}

#screen0-slide .info-button:hover {
    background: linear-gradient(90deg, #00b09b, #96c93d); /* 背景反转渐变 */
    transform: scale(1.1); /* Effet d'amplification */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Ajouter un effet d'ombre */
    color: #fff; /* Changer la couleur de la police en blanc lors du survol */
}

#screen0-slide .top-bar {
    display: flex;
    width: 100%; /* Réglez la largeur sur la largeur de la page */
    height: auto; /* Ajuster automatiquement la hauteur */
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    background-color: black; /* L'arrière-plan est noir */
    box-sizing: border-box; /* Assurez-vous que le rembourrage n'affecte pas la largeur */
}