<div id="page">
    <app-header></app-header>
    <header>
        <h1>Making off</h1>
    </header>
    <div id="text">
        <p>
            L’utilisation de l’<strong>intelligence artificielle</strong> dans notre projet a été un véritable compagnon de travail, un assistant <strong>silencieux mais efficace</strong> qui a su s’adapter aux différentes étapes du processus <strong>créatif et technique</strong>. 
            Pour la conception et l’expérience utilisateur, ChatGPT nous a permis d’<strong>explorer</strong> des idées inédites et de structurer nos scénarios. 
            En rédaction, l’IA a servi d’appui pour <strong>affiner</strong> les textes, <strong>proposer</strong> des reformulations et <strong>accélérer</strong> l’imagination de scénarios alternatifs. 
            Les développeurs ont bénéficié de <strong>Copilot</strong> et <strong>Claude</strong> pour <strong>générer</strong> et <strong>corriger</strong> du code, accélérant ainsi la production. 
            Enfin, <strong>Midjourney</strong> a apporté une aide précieuse à la <strong>création visuelle</strong>, permettant d’itérer rapidement sur les concepts graphiques. 
            Ces outils, bien que puissants, <strong>ne se substituent pas à l’expertise humaine</strong> : ils ont <strong>enrichi</strong> notre travail, mais ont nécessité une <strong>supervision</strong> et un ajustement constants pour conserver une touche humaine et une cohérence artistique.
        </p>
    </div>
    <!--<div id="back">
        <p (click)="router.navigate(['credits'])">Retour</p>
    </div>-->
</div>