

#main {

    h1 {
        margin-top: 20px;
        font-size: 130%;
        text-align: center;
    }
    
    pre {
        width: 100%;
    }
    
    .back {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        margin: 4% 0 5% 4%;

        color: #E42829;
        font-size: 25%;
        font-weight: 400;

        cursor: pointer;

        .arrow {
            border-top: 2px solid #E42829;
            border-left: 2px solid #E42829;
            width: 20px;
            height: 20px;
            transform: rotate(-45deg);
        }
    }

    .item {
        flex: 0 0 auto;
        /* Empêche les éléments de se réduire ou de se casser sur plusieurs lignes */
        scroll-snap-align: center;
        /* Optionnel : alignement précis lors du défilement */
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5%;
        border: 1px solid #E42829;
        border-radius: 5px;

        img {
            width: 100%;
            border-radius: 3px;
        }

        h2 {
            width: fit-content;
            margin: 3% 0 1% 0;
            align-self: center;
            text-align: center;
            font-size: 25%;
            text-transform: uppercase;
        }
    }

    .selected {
        transform: scale(1.5); /* Agrandit l'élément sélectionné */
        z-index: 1; /* Assure que l'élément agrandi reste au-dessus des autres */
        margin-left: +6.5%; /* Compense l'agrandissement pour éviter le chevauchement */
        margin-right: +6.5%; /* Compense l'agrandissement pour éviter le chevauchement */
        background-color: lighten(rgb(255, 255, 255), 25%);
    }
}



#timeline {
    position: absolute;
    width: 3px;
    left: 5%;
    // top: 0;
    bottom: 0;
    background-color: black;
}