<app-header></app-header>
<div id="main">
    @if (!selected_scenario) {
        <app-slider [items]="data" (selected_output)="selectScenario($event)"></app-slider>
    }
    @else {
        <button>retour</button>
        <div>image</div>
    }
    <!-- <div id="scenarios">
        <div class="placeholder"></div>
        @for (item of data; track $index) {
            <div class="scenario" (click)="selectScenario(item, $event.target)" [ngClass]="{'selected' : selected_scenario == item}">
                <img [src]=item.image [alt]="item.title">
                <h2>{{ item.title }}</h2>
            </div>
        }
        <div class="placeholder"></div>
    </div> -->
    <!-- <pre>
        {{selected_scenario | json}}
    </pre> -->
    @if (selected_scenario) {
        <app-situation [situation]="selected_scenario.situation"></app-situation>
    }
</div>