.navigation-header {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    padding: 2vh 4vh 0vh 4vh;
    margin-bottom: 2vh;  
    width: 100%;
    height: 100%;
    background-color: white;
    button {
        border-color: red;
        color: red;
        height: 100%;
        width: auto;
        border-radius: 4vh 4vh 4vh 4vh; 
        font-style: italic;
        
    }
    button:hover {
        border-color: red !important;
        background-color: red !important;
        color: white !important;
    }
    button:disabled {
        border: 1px solid gray;
    }
    button:hover:disabled {
        border-color: gray !important;
        background-color: gray !important;
        color: white !important;
    }

   button:nth-child(3) { border-right:red; }
   button:nth-child(6) { border-left:red; }
}


*{
    padding:0;
    margin:0;
}


.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77vh;
    border: 1vh solid black;
    border-radius: 4vh;
    padding: 10px;
}
  
.header {
    margin-bottom: 10px;
}
  
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}
  
.card-container {
    margin-bottom: 10px;
}
  
.logo img {
    max-width: 100px;
    height: auto;
}
  
.description {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 1rem;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}
  