/*---------------- Partie accueil ---------------*/

/* Style général pour le corps */
.accueilbody {
    margin: 0;
    padding: 0;
    background-color: #f8b100; /* Couleur jaune pour le fond */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


/* Bloc central contenant le logo */
.bloc-centre {
    justify-content: center;
    align-items: center;
    
}


.logo-appli {
    width: 300px;
    height: auto;
    animation: float 3s infinite ease-in-out; 
}

/* Animation pour le logo (optionnel) */
 @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
} 

.texte {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
    color: #444;
    font-family: 'Arial', sans-serif;
}

.arrow {
    margin-top: 20px;
    width: 30px;
    height: auto;
}

