
/*------------------------ Partie messages ------------------*/

/* Styles pour la deuxième diapositive (chat.html) */
#second-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Assurer que #content-chat occupe tout l'espace restant */
#content-chat {
    flex: 1;
    width: 100%;
    height:100%;
    display: flex;
}

.chat-container {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border: 3px solid rgb(131, 130, 130);
    border-radius: 0px; /*arrondir angles*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.chat-header {
    background: var(--primary-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid rgb(163, 161, 161);
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    border-bottom: 1px solid #ccc; /*ligne séparatrice*/
    position: relative;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

.chat-header-bulle{
    width: 50px; /* Largeur de la bulle */
    height: 50px; /* Hauteur de la bulle */
    border-radius: 50%; /* Rend la bulle ronde */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    flex-shrink: 0; /* Empêche la bulle de rétrécir */
    display: flex;
    justify-self: center;
    align-self: center;
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #bbb #e0e0e0;
}

/* Style pour l'image à l'intérieur de la bulle */
.chat-header-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Ajuste l'image pour couvrir entièrement la bulle */
}

/* ================== Styles de la barre de progression ================== */

/* Conteneur de la barre de progression */
/* Conteneur de la barre de progression */
.progress-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Barre de progression */
.progress-bar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

/* Étapes de progression */
.progress-step {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 12px;
    color: #fff;
    position: relative;
}

/* Progress Line (hr) */
.progress-line {
    flex: 1; /* Adjust to fill space between dots */
    height: 4px;
    border: none;
    background-color: #ccc; /* Default line color */
    margin: auto; /* Center vertically */
    z-index: 1;
}

/* Étapes complétées */
.progress-step.completed {
    background-color: #39a276; /* Green for completed steps */
}

.progress-line.completed {
    background-color: #39a276; /* Green line for completed steps */
}

/* Étape active */
.progress-step.active {
    background-color: #9e4c4c; /* Red for the current step */
}

.progress-line.active {
    background-color: #9e4c4c; /* Red line for the current step */
}

/* Numéro de l'étape */
.progress-step::after {
    content: attr(data-step);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}


/*-------------------------------*/



.chat-box::-webkit-scrollbar {
    width: 6px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
}

#messageList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Style des messages */
.message {
    max-width: 75%;
    padding: 12px 18px;
    margin: 2px 0; /*espacement entre les messages*/
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.4;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease; /* Smooth effect */
    transition: background-color 0.3s, color 0.3s;
}

/* Add the animation for the info class */
.message.info {
    animation: pulse 1.5s infinite ease-in-out;
    margin-top: 10px;
}

/* Define the pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    50% {
        transform: scale(1.02); /* Slightly enlarge */
        box-shadow: 
            0 4px 10px rgba(0, 0, 0, 0.2), /* Original shadow */
            0 0 15px 2px var(--accent-color); /* glow */
    }
    100% {
        transform: scale(1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

.message.first{
    margin-top: 20px;
    border-radius: 20px 20px 20px 5px;
}

.message.middle{
    border-radius: 20px;
}

.message.last{
    margin-bottom: 20px;
    border-radius: 5px 20px 20px 20px;
}

.message img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

/* Messages envoyés */
.sent {
    background: var(--secondary-color);
    color: var(--secondary-text-color);
    align-self: flex-end;
    margin: 20px 0;
}

/* Messages reçus */
.received {
    background: var(--primary-color);
    align-self: flex-start;
    color: var(--primary-text-color);
}


#answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
    font-size: medium;
  }
  
  .answer {
    padding: 10px 20px;
    margin-left: 30px;
    border: 2px solid gray;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
  }

  .answer.first {
    border-radius: 20px 20px 0px 20px;
  }

.answer.middle {
    border-radius: 0px;
}

.answer.last {
    border-radius: 0px 20px 20px 20px;
}
  
  .answer.selected {
    border-color: blue;
    background-color: lightblue;
  }
  
  #confirm-button {
    padding: 10px 20px;
    cursor: not-allowed;
    width: auto;
    margin-left: 30px;
  }
  
  #confirm-button:enabled {
    cursor: pointer;
    /* background-color: blue; */
    /* color: white; */
  }

  #confirm-button:disabled {
    cursor: pointer;
    background-color: white;
    color: rgb(76, 76, 76);
    border: 2px solid gray;
  }

.chat-input {
    display: flex;
    padding: 15px;
    background: #f9f9f9;
    border-top: 2px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.chat-input button {
    margin-left: 10px;
    padding: 12px 20px;
    border: none;
    /* background: #007bff; */
    /* color: #fff; */
    /* border-radius: 20px; */
    cursor: pointer;
    font-size: 16px;
    background-image: url('../img/send.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.chat-input button:hover {
    background: #0056b3;
}

/* Tap icon */
#tapIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background: url('../img/tap.png') no-repeat center center; /* Replace with your icon */
  background-size: contain;
  animation: click-effect 1s infinite ease-in-out;
}

@keyframes click-effect {
  0%, 100% {
      transform: scale(1); /* Normal size */
  }
  50% {
      transform: scale(0.9); /* Shrink slightly */
  }
}

#seeResultsButton{
    width: 100%;
}