#content-fin {
  background: linear-gradient(180deg, #f8b100,#f8b100, #FFFF);
}

#third-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fin-logoAPIstory{
    width: 200px;
    display: flex;
    height: auto;
    margin: 0 auto;   
}


#third-slide p {
  font-size: 16px;
  text-align: left;
  margin: 0.5em 2em;
}

#third-slide a {
  font-size: 16px;
  text-align: left;
  color:black;
}

.separator {
  margin: 0.5em 1.2em;
  height: 1px;
}

#content-fin {
    width: 100%;
    height: 100%;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}


#flipCard {
    perspective: 1000px; /* Enables 3D perspective */
    width: 40%;
    height: 100px;
    padding: 10px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }

#flipCard p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .no-choices#flipCard {
    color: red;
    perspective: 1000px; /* Enables 3D perspective */
    width: 70%;
    height: 100px;
    padding: 10px;
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side when not visible */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-front {
    background-color: #fff;
  }
  
  .card-back {
    background-color: #f0f0f0;
    transform: rotateY(180deg); /* Rotates the back side 180 degrees */
  }
  
  .card-container.flipped .card {
    transform: rotateY(180deg); /* Flips the card */
  }


/* ---------- Positioning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportional to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
    width:100%;
    bottom: 0;
    background-color: white;
    font-size: 20%;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }

  #bandeau img{
    height: 2.5em;
  }

  #bandeau #hyblab{
    margin: 1em auto;
    height: 3em;
    display: block;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
    margin: 0.5em auto;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }


#content-fin>h1 {
    padding: 0 10px;
    font-size: 24px;
    text-align: center;
    margin: 0.5em 0;
    margin-top : 2em;
}

#articleContainer {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#articleContainer img{
  width: 90%;
  margin-top: 10px;
}

#articleContainer p{
  font-size: 16px;
  text-align: justify;
  width: 90%;
}

#titleFin2{
  margin-top: 40px;
  margin-bottom: 30px;
}

#textFin2{
  margin-bottom: 30px;
}