/* ================== Styles de la barre de progression ================== */

/* Conteneur de la barre de progression */
.progress-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -12px;
}

/* Barre de progression */
.progress-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*espacement des lignes entre les ronds*/
    position: absolute;
}

/* Ligne de progression */
.progress-bar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--API-color);
    transform: translateY(-50%);
    z-index: 1;
}

/* Étapes de progression */
.progress-step {
    width: 24px;
    height: 24px;
    background-color: var(--API-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 12px;
    color: #fff;
    position: relative;
}

/* Progress Line (hr) */
.progress-line {
    flex: 1; /* Adjust to fill space between dots */
    height: 4px;
    border: none;
    background-color: var(--API-color); /* Default line color */
    margin: auto; /* Center vertically */
    z-index: 1;
}

/* Étapes complétées */
.progress-step.completed {
    background-color: #39a276; /* Green for completed steps */
}

.progress-line.completed {
    background-color: #39a276; /* Green line for completed steps */
}

/* Étape active */
.progress-step.active {
    background-color: #9e4c4c; /* Red for the current step */
}

.progress-line.active {
    background-color: #9e4c4c; /* Red line for the current step */
}

/* Numéro de l'étape */
.progress-step::after {
    content: attr(data-step);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

.chat-header {
    background: var(--bg-color);
    color: var(--color-text-API);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid rgb(163, 161, 161);
    display: flex;
    align-items: center;
    /* Centre verticalement les éléments */
    border-bottom: 1px solid #ccc;
    /*ligne séparatrice*/
    position: relative;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

.chat-header-bulle {
    width: 50px;
    /* Largeur de la bulle */
    height: 50px;
    /* Hauteur de la bulle */
    border-radius: 50%;
    /* Rend la bulle ronde */
    overflow: hidden;
    /* Cache les parties de l'image qui dépassent */
    flex-shrink: 0;
    /* Empêche la bulle de rétrécir */
    display: flex;
    justify-self: center;
    align-self: center;
}

/* Style pour l'image à l'intérieur de la bulle */
.chat-header-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    /* Ajuste l'image pour couvrir entièrement la bulle */
}