/* Animation d'agrandissement */
.expanding {
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 20;
    transition: all 0.5s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.expanding img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
    cursor: pointer;
}

.expanding button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}