/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
}

/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
}

#loader-img{
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    position: absolute;
    font-size: 50%;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:calc(50% + 2em);
    width: 100%
}
/* -------------- End of Loader --------------*/


/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    background-color: white;
    width: 100%;
    height: 100%;
    color: black
}

/* Most of the elements in this demo are absolute positioned with percentages */
#first-slide header, #second-slide header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
    text-decoration-color: #0056b3;
}

#logo-hyblab{
    text-align: center;
    width: 50%;
    left: 50%; /* center the logo, in interaction with the negative margin-left */
    top: 50%;
    margin-left:-25%; /* this is half the width */
    margin-top:calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

/* Last slide image is centered */
#img-fini{
    width: 70%;
    left: 50%; /* center the logo, in interaction with the negative margin-left */
    top: 40%;
    position: absolute;
    margin-left:-35%; /* this is half the width */
    margin-top:calc(-25% * 9 / 16 ); /* margins are relative to the element width... :-( */
}

main > section{
    /* background-image: url('../img/background.svg'); */
    background-size: 100% auto; /* background is full width and height is proportional to width */
    background-position: bottom; /* background is bottom aligned */
}




/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
    
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* CSS */
button {
  background: gray;
  border-radius: 999px;
  box-shadow: #000000 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 2px solid var(--user-color);
}