#home{
    position:relative;
}

/*** img ***/
.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
}

/*** Header ***/
header{
    width: 100%;
    padding: 30px;
    display: flex;
    height: 130px;
    top: 0;
    position: absolute;
    justify-content: space-between;
    z-index: 1;
}
header nav ul {
    display: flex;
    flex-direction: row;
    gap: 42px;
    align-items: center;
    height: 100%;
}

/*** Content ***/
#home div.content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    z-index: 1;
}

#home div.content h1{
    font-size: 80px;
}
#home div.content p{
    font-size: 25px;
    line-height: 28px;
    width: 100%;
    max-width: 900px;
    text-align: center;
}