.background_TP2 {
    background: url('TransitionPage2.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 350px;
    margin-inline: auto;
    font-family: "Work Sans";
}

.container_TP2 {
    position: absolute;
    top : 250px;
    background-color: white;
    padding: 1px;
    text-align: center;
    width: 160px;
}


.p_TP2 {
    font-size: 8px;
    line-height: 1.5;
    color: #1A3347;
    margin: 1px;

}

.button_TP2 {
    position: absolute;
    bottom: 100px; /* Ajustez la valeur selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 40px;
    border: #1A3347;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    font-size: 7px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #1A3347;
    background-color: #ffffff;
    cursor: pointer;
}

.button_TP2:hover {
    background-color: #1A3347; /* Couleur bleue plus foncée au survol */
    color: white;
}