<div id="page">   
    <header>
        <h1>Crédits</h1>
    </header>
    <div id="hyblab_2025">
        <img id="hyblab_2025_img" src="logos/hyblab_2025.png" alt="HYBLAB 2025">
    </div>
    <table id="participants">
        <tbody>
            <tr>
                <th>
                    <img src="square1.png" alt="Photo Kilian">
                    <p>Kilian BELIER</p>
                </th>
                <th>
                    <img src="square1.png" alt="Photo Line">
                    <p>Line BAUDRILLER</p>
                </th>
                <th>
                    <img src="square1.png" alt="Photo Maxime">
                    <p>Maxime CORMIER</p>
                </th>
                <th>
                    <img src="square1.png" alt="Photo Maxime">
                    <p>Maxime TCHERNYCHEV</p>
                </th>
            </tr>
            <tr>
                <th>
                    <img src="square1.png" alt="Photo Robinson">
                    <p>Robinson ROUE</p> 
                </th>
                <th>
                    <img src="square1.png" alt="Photo Ruikang">
                    <p>Ruikang SUN</p>
                </th>
                <th>
                    <img src="square1.png" alt="Photo Valentin">
                    <p>Valentin ESNAULT</p>
                </th>
                <th>
                    <img src="square1.png" alt="Photo Yassine">
                    <p>Yassine AKOH</p>
                </th>
            </tr>
        </tbody>
    </table>
    <div id="makingoff">
        <p (click)="router.navigate(['makingoff'])">Making off</p>
    </div>
    <div id="footer">
        <div id="hyblab">
            <a href="http://www.hyblab.fr/">
                <img src="logos/logo_hyblab.png" alt="Logo HYBLAB">
            </a>
        </div>
        <div id="orga">
            <a href="http://www.ouestmedialab.fr/">
                <img src="logos/logo_oml.png" alt="Logo Ouest MediaLab">
            </a>
            <a href="http://www.agrnantes.fr/">
                <img src="logos/logo_agr.png" alt="Logo AGR">
            </a>
            <a href="http://www.polytech.univ-nantes.fr/">
                <img src="logos/logo_polytech.png" alt="Logo Polytech">
            </a>
            <a href="https://www.sciencespo-rennes.fr/">
                <img src="logos/logo_sciencespo.svg" alt="Logo SciencesPo">
            </a>
        </div>
        <div id="part">
            <div id="cc">
                <img src="logos/logo_cc.png" alt="Logo CC">
                <img src="logos/logo_opensource.png" alt="Logo OpenSource">
            </div>
            <a href="https://www.lequipe.fr/">
                <img src="logos/logo_equipe.png" alt="Logo L'Equipe">
            </a>
            <a href="https://www.univ-nantes.fr/">
                <img src="logos/logo_nantesuniversite.png" alt="Logo Nantes Univ">
            </a>
            <a href="http://www.nantesmetropole.fr/">
                <img src="logos/logo_nantesmetropole.png" alt="Logo Nantes Métropole">
            </a>
            <a href="https://www.paysdelaloire.fr/">
                <img src="logos/logo_pdl.png" alt="Logo Pays de la Loire">
            </a>
        </div>
    </div>
</div> 