<div>
  <section class="banner">
    <h1>Mort en Scène</h1>
    <img src="img/fete.jpg" alt="Image spectacle" class="img">
  </section>

  <section class="content">
    <p class="content-title">Ut Caesarem ad perniciem doctus iussit contentum subtraxit hortaretur cum Gentilibus.</p>
    <p class="content-text"></p>
      Ut Caesarem ad perniciem doctus iussit contentum subtraxit hortaretur cum Gentilibus eius largitionum audiens 
      conspiraret perniciem se scholis ad iussit Domitiano doctus Caesarum perniciem verecunde Domitiano doctus ad cum.
    </p>
    <a href="budget.html" class="btn btn-create-event">Créer mon événement</a>
  </section>
</div>


