<div>
  <section class="banner">
    <!-- Image de fond -->
    <img src="img/fete.jpg" alt="Image spectacle" class="background-image">

    <!-- Logo Festival -->
    <img src="img/logo.svg" alt="Logo Festival" class="logo-festival">

    <!-- Logo des partenaires -->
    <img src="img/logo.png" alt="Logos des partenaires" class="logo-partners">

    <!-- Texte principal -->
    <h1>
      Comprendre le budget d'un festival et l'impact des coupes budgétaires.
    </h1>
  </section>

  <section class="content">
    <p class="content-title">
      Christelle Morancais, présidente des Pays de la Loire, a annoncé un plan d’économies de 100 millions d’euros, concernant majoritairement le secteur culturel.
    </p>
    <p class="content-text">
      Pour comprendre les conséquences de cette coupe budgétaire sur l’avenir de la culture, on vous propose de créer votre propre festival.
    </p>
    <a href="choices.html" class="btn btn-create-event">Créer mon événement</a>
  </section>
</div>


