<div id="page_scrollable_container">
<section class="content">
  <h2>à vous de faire des choix pour créer un festival idéal !</h2>
</section>
<section class="content">
  <img src="img/picto1.jpg" alt="Image picto1" class="img">
  <p class="content-title">Quelle taille pour mon festival ?</p>
  <div class="button-container">
    <button class="btn-choice">
      <img src="img/option1.jpg" alt="Option 1">
    </button>
    <button class="btn-choice">
      <img src="img/option2.jpg" alt="Option 2">
    </button>
    <button class="btn-choice">
      <img src="img/option3.jpg" alt="Option 3">
    </button>
  </div>
</section>
<section class="content">
  <img src="img/picto2.jpg" alt="Image picto2" class="img">
  <p class="content-title">Quelles actions pour la transition écologique ?</p>
  <div class="button-container">
    <button class="btn-choice">
      <img src="img/option1.jpg" alt="Option 1">
    </button>
    <button class="btn-choice">
      <img src="img/option2.jpg" alt="Option 2">
    </button>
    <button class="btn-choice">
      <img src="img/option3.jpg" alt="Option 3">
    </button>
  </div>
</section>
<section class="content">
  <img src="img/picto3.jpg" alt="Image picto3" class="img">
  <p class="content-title">Quelles actions pour la médiation culturelle ?</p>
  <p class="content-texte">Je souhaite faciliter l’accès à la culture en organisant divers ateliers ouverts à tous.tes.</p>
  <div class="button-container">
    <button class="btn-choice">
      <img src="img/option1.jpg" alt="Option 1">
    </button>
    <button class="btn-choice">
      <img src="img/option2.jpg" alt="Option 2">
    </button>
    <button class="btn-choice">
      <img src="img/option3.jpg" alt="Option 3">
    </button>
  </div>
</section>
<section class="content">
  <img src="img/picto4.jpg" alt="Image picto4" class="img">
  <p class="content-title">Quelles actions pour la prévention des risques ?</p>
  <p class="content-texte">Je veille à l'accessibilité et à la sécurité de tous.tes lors de mon évènement.</p>
  <div class="button-container">
    <button class="btn-choice">
      <img src="img/option1.jpg" alt="Option 1">
    </button>
    <button class="btn-choice">
      <img src="img/option2.jpg" alt="Option 2">
    </button>
    <button class="btn-choice">
      <img src="img/option3.jpg" alt="Option 3">
    </button>
  </div>
</section>
  <a href="#" class="btn btn-create-event">Je valide mes choix</a>
</div>

