<div id="page_scrollable_container">
  <section class="content">
    <h2>Bravo, tu as créé ton festival idéal !
      Maintenant, comment vas-tu le financer ?</h2>
  </section>
  <section class="content">
    <h2>Budget du festival : X XXX XXX €</h2>
  </section>
  <section class="content">
    <h2>Prix du billet : XXX €</h2>
  </section>
  <section class="content">
    <p class="content-title">J’ai choisi de faire un festival XXXX. Voici comment ce compose mon budget.</p> 
  </section>
  <section class="content" id="budget-chart">
    <p class="content-title">€ Comment est composé mon budget ?</p>
    <!-- Diagramme en bandes -->
    <div class="chart-bars">
      <div class="bar bar-recettes" style="width: 52.3%;">52,3%</div>
      <div class="bar bar-prives" style="width: 9.1%;">9,1%</div>
      <div class="bar bar-publics" style="width: 38.5%;">38,5%</div>
    </div>
    <!-- Légende -->
    <ul class="chart-legend">
      <li>
        <span class="legend-color recettes"></span>
        <div>
          <p class="legend-title"> Part des recettes propres</p>
          <p class="question-info">(billets vendus : 35,4% ; ventes sur site : 16,9%)</p>
        </div>
      </li>
      <li>
        <span class="legend-color prives"></span>
        <div>
          <p class="legend-title">Part des financements privés</p>
          <p class="question-info">(mécénat : 2,5% ; partenariats : 6,6%)</p>
        </div>
      </li>
      <li>
        <span class="legend-color publics"></span>
        <div>
          <p class="legend-title">Part des financements publics</p>
          <p class="question-info">(38,5% dont une majorité provient des collectivités territoriales)</p>
        </div>
      </li>
    </ul>
  </section>
  
  <section class="content">
    <p class="content-text">L'écosystème culturel des festivals dépend donc en grande partie de financements publics. Et même avec ces subventions, les festivals sont difficilement voire jamais rentables.</p>
    <p class="content-text">Par exemple, en 2024, les Escales à Saint-Nazaire n'a pas pu équilibrer son budget. Le festival bénéficie de 30% de subventions pour un budget total de 2 millions d'euros. Mais, avec 2 000 entrées en moins et une baisse de 150 000 euros des aides de la Ville, le déficit est monté à 250 000€.</p>
    <div>
      <p class="content-title">
        Lors du vote du budget 2025, la Région Pays de la Loire a annoncé renoncer à la totalité de ses partenariats avec les structures culturelles qu’elle subventionnait jusqu’alors.
      </p>
      <p class="content-title">
        Pour que le budget de ton festival soit validé, tu vas devoir couper dans tes dépenses.
      </p>
    </div>
  </section>
  <div class="button-container">
    <a href="ajustements.html" class="btn-validate">Etape suivante</a>
  </div>
</div>