<div>
  <section class="content">
    <h2>Votre festival est prêt !
      voilà vos résultats.</h2>
  </section>
  <section class="content">
    <img src="img/resultat.jpg" alt="resultat" class="img">
  </section>
  <section class="content">
    <h2>Vos choix ont eu des conséquences</h2>
  </section>
  <section class="content">
    <p class="content-texte">Votre festival n'est plus accessible à un large public car le billet est cher.
      La réduction de la taille du festival engendre
      une baisse de l'activité des entreprises /
      associations partenaires.
      La réduction ou disparition des festivals affecte négativement l'économie locale, sachant que 1€ dépensé dans la culture génère en moyenne 6€
      de retombées économiques locales.</p>
  </section>
  <section class="content">
    <h2>Résumé de vos choix</h2>
  </section>
  <section class="content">
    <div class="button-container">
      <button class="btn-choice">
        <img src="img/option1.jpg" alt="Option 1">
      </button>
      <button class="btn-choice">
        <img src="img/option2.jpg" alt="Option 2">
      </button>
      <button class="btn-choice">
        <img src="img/option3.jpg" alt="Option 3">
      </button>
    </div>
  </section>
  <a href="#" class="btn btn-create-event">Rejouer</a>
</div>