#choose-player{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/*** boxes & hover parallax ***/
.choice{
    height: 100%;
    width: 100%;
    position: absolute;
    transform: skewX(-20deg);
    transition: all ease 0.6s;
    overflow: hidden;
}
.choice.left{
    border-right: white solid 30px;
    left: -50%;
}

.choice.right{
    border-left: white solid 30px;
    right: -50%;
}

.choice.left:hover{
    left: -30%;
}
#choose-player.hv-left .choice.right{
    right: -70%;
}

#choose-player.hv-right .choice.left{
    left: -70%;
}
.choice.right:hover{
    right: -30%;
}

/*** Images & hover parallax ***/
.choice img {
    height: 100%;
    width: 100%;
    transform: skew(20deg);
    position: absolute;
    transition: all ease 0.6s;
}
.choice.right img {
    right: 30%;
}
.choice.right:hover img{
    right: 18%;
}
#choose-player.hv-left .choice.right img{
    right: 40%;
}

.choice.left img {
    left: 30%;
}
.choice.left:hover img{
    left: 18%;
}
#choose-player.hv-right .choice.left img{
    left: 40%;
}

/*** Shadow filter ***/
.choice:after{
    position: absolute;
    content: "";
    opacity: 0;
    visibility: visible;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom,#fff0,#0006,#0009);
    border-radius: 0 0 4px 4px;
    transition: all ease 0.3s;
}
.choice:hover:after {
    opacity: 1;
}