#choose-player{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: white solid 15px;
}

/*** boxes & hover parallax ***/
.choice{
    height: 100%;
    width: 100%;
    position: absolute;
    transform: skewX(-20deg);
    transition: all ease 0.6s;
    overflow: hidden;
    display: flex;
}
.choice.left{
    border-right: white solid 15px;
    left: -50%;
}

.choice.right{
    border-left: white solid 15px;
    right: -50%;
}

.choice.left:hover{
    left: -30%;
}
#choose-player.hv-left .choice.right{
    right: -70%;
}

#choose-player.hv-right .choice.left{
    left: -70%;
}
.choice.right:hover{
    right: -30%;
}

/*** Images & hover parallax ***/
.choice .img-container{
    width: 100%;
    height: 100%;

}
.choice .img-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
    filter: brightness(75%);
    transform: skew(20deg);
}
.choice.right .img-container img {
    right: 30vw;
}
.choice.right:hover .img-container img{
    right: 15vw;
}
#choose-player.hv-left .choice.right .img-container img{
    right: 40vw;
}

.choice.left .img-container img {
    transform: skew(20deg) scale(1.5);
    left: 20vw;
}
.choice.left:hover .img-container img{
    left: 5vw;
}
#choose-player.hv-right .choice.left .img-container img{
    left: 35vw;
}

/*** Shadow filter ***/
.choice:after{
    position: absolute;
    content: "";
    opacity: 1;
    visibility: visible;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom,#fff0,#0009,#0009);
    border-radius: 0 0 4px 4px;
    transition: all ease 0.3s;
}
.choice:hover:after {
    opacity: 0;
}

/*** divider ***/
.choice h1.divider{
    position: absolute;
    rotate: -90deg;
    text-align: center;
    line-height: 150px;
    transition: all ease .3s;
    font-size: 22vh;
    opacity: 0;
    white-space: nowrap;
    transform: skew(-20deg);
    top: 44%;
}
.choice.right h1.divider{
    left: -25%;
}
.choice.left h1.divider{
    right: -16%;
}
.choice:hover h1.divider{
    opacity: 1;
}

/*** texts ***/
.choice .content{
    position: absolute;
    transform: skew(20deg);
    top: 36%;
    width: 100%;
    max-width: 450px;
    opacity: 0;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
}
.choice .content h1{
    font-size: 140px;
    line-height: 140px;
}
.choice .content p{
    width: 100%;
    max-width: 420px;
    line-height: 18.4px;
    padding-bottom: 20px;
}

.choice.left .content{
    right: 20%;
    text-align: left;
    align-items: start;
}
.choice.right .content{
    left: 20%;
    text-align: right;
    align-items: end;
}
.choice:hover .content {
    opacity: 1;
}
