<div #content id="main">
    <div id="animatedText">
        @for (item of situation.content; track $index) {
            @switch (item.type) {
                @case ("text")  {
                    <p [innerHTML]="isTextVisible ? item.text : ((item.text ? item.text : '') | textAnimation)" data-text-visible="false"></p>
                }
                @case ("question") {
                    <div class="question_block">
                        <div class="dot"></div>
                        <img src="chrono.svg" alt="chrono">
                        <p [innerHTML]="isTextVisible ? item.text : ((item.text ? item.text : '') | textAnimation) " class="question" data-text-visible="false"></p>
                    </div>
                }
                @case ("image") {
                    <!-- <img [src]="item.link" [alt]="item?.altText || ''"> -->
                }
            }
        }
    </div>
    @if (situation.choices && choice_visible) {
        <div id="choice_div">
        @for (item of situation.choices; track $index) {
            <div (click)="selected_choice = item" class="choice" [ngClass]="{'selected' : selected_choice == item, 'not_selected': selected_choice && selected_choice != item}" [ngStyle]="{'background-image': 'url(' + item.image + ')','background-position': 'center ' + item.position + ''}">
                <div id="choisir"><p>Choisir !</p></div>
            <div id="gris"><p>{{item.text}}</p></div>
            </div>
        }
        </div>
    }
    @if (situation.ending) {
        <div class="une">
            <img [src]="situation.ending.image" alt="la une alternative">
        </div>
    }
</div>
@if (selected_choice) {
    <app-situation [situation]="selected_choice.result"></app-situation>
}