p {
    margin: 35px 20px;
    font-size: 25%;
    &.question {
        font-weight: bold;
        font-style: italic;
    }
}

.choice {
    // make some sort of nice looking card looking button for a choice button
    position: relative;
    width: 96%;
    aspect-ratio: 357 / 109;
    border: 1px solid white;
    color: white;
    margin: 2%;
    display: flex;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: lighten(black, 10%);
    background: no-repeat center center;
    background-size: 100% auto;
    flex-direction: column;
    text-shadow: 1px 1px 2px black;
    #choisir {
        position: absolute;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        display: flex;
        p{
            text-align: center;
            padding: 1%;
            margin: 0px 0px;
            font-size: 20%;
            color: #D61E00;
            text-decoration: underline;
            font-weight: bold;
        }
    }
    #gris {
        position: absolute;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        padding: 5%;
        align-content: center;
        justify-content: center;
        p{
            text-align: center;
            margin: 0px 0px;
        }
    }
    

    &:hover {
        background-color: lighten(#D61E00, 5%);
    }
}

#choice_div {
    display: flex;
    flex-direction: column;
}

.selected {
    background-color: lighten(#D61E00, 5%);
    border:black;
}

.not_selected {
    #gris{
        background-color: rgba(0, 0, 0, 0.5);
        color: grey;
    }
}

#main {
    margin-bottom: 0;
    margin-left: 2%;
    padding-left: 2%;
    border-left: 3px solid black;
}
